.main-container{
    padding: 20px;
    /* filter: blur(5px);
    position: relative;
    z-index: -1; */
}
.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
   
   }
   
   .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
   }
   
   .form-input {
    width: 100%;
    padding: 8px 12px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
   }
   
   .form-submit {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
   }
   
   .form-submit:hover {
    background-color: #45a049;
   }

   input{
    height: 50px;
    background-color: transparent;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.504);

   }